#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

:root {
  --bga-jump-to_eye-url: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E eye %3C/title%3E%3Cpath d='M10 7.5a2.5 2.5 0 1 0 2.5 2.5A2.5 2.5 0 0 0 10 7.5zm0 7a4.5 4.5 0 1 1 4.5-4.5 4.5 4.5 0 0 1-4.5 4.5zM10 3C3 3 0 10 0 10s3 7 10 7 10-7 10-7-3-7-10-7z'/%3E%3C/svg%3E%0A");
}

#bga-jump-to_controls {
  position: fixed;
  top: 50vh;
  z-index: 5;
  user-select: none;
}

#bga-jump-to_controls.folded .bga-jump-to_link:not(.toggle) {
  display: none;
}

#bga-jump-to_controls .bga-jump-to_link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color);
  margin: 10px 0;
  width: fit-content;
  cursor: pointer;
  height: 22px;
  padding: 2px 5px;
  background: white;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 5px;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_avatar {
  width: 20px;
  height: 20px;
  background-color: #fff;
  outline: 1px solid #6a6a6a;
  border-radius: 50%;
  background-image: var(--avatar-url);
  display: inline-block;
  background-size: cover;
}

#bga-jump-to_controls .bga-jump-to_link .bga-jump-to_label {
  background: var(--colorback);
}

#bga-jump-to_controls .bga-jump-to_link.round-point {
  border-radius: 0 11px 11px 0;
  padding-right: 11px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 11px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -11px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.hexa-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 9px solid white;
  content: "";
  position: absolute;
  right: -9px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point {
  border-right-width: 0;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::before {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  content: "";
  position: absolute;
  right: -15px;
  top: -2px;
}

#bga-jump-to_controls .bga-jump-to_link.triangle-point::after {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid white;
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
}

#bga-jump-to_controls .bga-jump-to_link .eye {
  width: 20px;
  height: 20px;
  mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  -webkit-mask: var(--bga-jump-to_eye-url) no-repeat center/contain;
  background: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color);
  display: inline-block;
  vertical-align: middle;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 1;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.elawa-card {
  display: inline-block;
  position: relative;
  width: 202px;
  height: 282px;
  margin: 5px;
  border-radius: 10px;
}
.elawa-card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.elawa-card .card-sides .card-side {
  border-radius: 10px;
  /*&.back {  
      background-size: auto 100%;
      background-image: url('img/card-back.jpg');
  }*/
}
.elawa-card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.elawa-card .card-sides .card-side.front {
  background-size: auto 500%;
  background-image: url("img/cards.jpg");
}
.elawa-card.selectable:not(.disabled):hover {
  cursor: pointer;
}
.elawa-card.selectable:not(.disabled):hover:not(.selected) {
  box-shadow: 0 0 5px 5px orange;
}
.elawa-card.selectable:not(.disabled):hover .card-side {
  box-shadow: unset;
}
.elawa-card.selected:not(.disabled) {
  box-shadow: 0 0 8px 8px orange;
}
.elawa-card.selected:not(.disabled) .card-side {
  box-shadow: unset;
}
.elawa-card.selected-discard {
  outline: 5px solid orange;
}
.elawa-card.selected-discard .card-side {
  box-shadow: unset;
}
.elawa-card .front[data-color="1"][data-number="1"] {
  background-position: 0% 0%;
}
.elawa-card .front[data-color="1"][data-number="2"] {
  background-position: 9.0909090909% 0%;
}
.elawa-card .front[data-color="1"][data-number="3"] {
  background-position: 18.1818181818% 0%;
}
.elawa-card .front[data-color="1"][data-number="4"] {
  background-position: 27.2727272727% 0%;
}
.elawa-card .front[data-color="1"][data-number="5"] {
  background-position: 36.3636363636% 0%;
}
.elawa-card .front[data-color="1"][data-number="6"] {
  background-position: 45.4545454545% 0%;
}
.elawa-card .front[data-color="1"][data-number="7"] {
  background-position: 54.5454545455% 0%;
}
.elawa-card .front[data-color="1"][data-number="8"] {
  background-position: 63.6363636364% 0%;
}
.elawa-card .front[data-color="1"][data-number="9"] {
  background-position: 72.7272727273% 0%;
}
.elawa-card .front[data-color="1"][data-number="10"] {
  background-position: 81.8181818182% 0%;
}
.elawa-card .front[data-color="1"][data-number="11"] {
  background-position: 90.9090909091% 0%;
}
.elawa-card .front[data-color="1"][data-number="12"] {
  background-position: 100% 0%;
}
.elawa-card .front[data-color="2"][data-number="1"] {
  background-position: 0% 25%;
}
.elawa-card .front[data-color="2"][data-number="2"] {
  background-position: 9.0909090909% 25%;
}
.elawa-card .front[data-color="2"][data-number="3"] {
  background-position: 18.1818181818% 25%;
}
.elawa-card .front[data-color="2"][data-number="4"] {
  background-position: 27.2727272727% 25%;
}
.elawa-card .front[data-color="2"][data-number="5"] {
  background-position: 36.3636363636% 25%;
}
.elawa-card .front[data-color="2"][data-number="6"] {
  background-position: 45.4545454545% 25%;
}
.elawa-card .front[data-color="2"][data-number="7"] {
  background-position: 54.5454545455% 25%;
}
.elawa-card .front[data-color="2"][data-number="8"] {
  background-position: 63.6363636364% 25%;
}
.elawa-card .front[data-color="2"][data-number="9"] {
  background-position: 72.7272727273% 25%;
}
.elawa-card .front[data-color="2"][data-number="10"] {
  background-position: 81.8181818182% 25%;
}
.elawa-card .front[data-color="2"][data-number="11"] {
  background-position: 90.9090909091% 25%;
}
.elawa-card .front[data-color="2"][data-number="12"] {
  background-position: 100% 25%;
}
.elawa-card .front[data-color="3"][data-number="1"] {
  background-position: 0% 50%;
}
.elawa-card .front[data-color="3"][data-number="2"] {
  background-position: 9.0909090909% 50%;
}
.elawa-card .front[data-color="3"][data-number="3"] {
  background-position: 18.1818181818% 50%;
}
.elawa-card .front[data-color="3"][data-number="4"] {
  background-position: 27.2727272727% 50%;
}
.elawa-card .front[data-color="3"][data-number="5"] {
  background-position: 36.3636363636% 50%;
}
.elawa-card .front[data-color="3"][data-number="6"] {
  background-position: 45.4545454545% 50%;
}
.elawa-card .front[data-color="3"][data-number="7"] {
  background-position: 54.5454545455% 50%;
}
.elawa-card .front[data-color="3"][data-number="8"] {
  background-position: 63.6363636364% 50%;
}
.elawa-card .front[data-color="3"][data-number="9"] {
  background-position: 72.7272727273% 50%;
}
.elawa-card .front[data-color="3"][data-number="10"] {
  background-position: 81.8181818182% 50%;
}
.elawa-card .front[data-color="3"][data-number="11"] {
  background-position: 90.9090909091% 50%;
}
.elawa-card .front[data-color="3"][data-number="12"] {
  background-position: 100% 50%;
}
.elawa-card .front[data-color="4"][data-number="1"] {
  background-position: 0% 75%;
}
.elawa-card .front[data-color="4"][data-number="2"] {
  background-position: 9.0909090909% 75%;
}
.elawa-card .front[data-color="4"][data-number="3"] {
  background-position: 18.1818181818% 75%;
}
.elawa-card .front[data-color="4"][data-number="4"] {
  background-position: 27.2727272727% 75%;
}
.elawa-card .front[data-color="4"][data-number="5"] {
  background-position: 36.3636363636% 75%;
}
.elawa-card .front[data-color="4"][data-number="6"] {
  background-position: 45.4545454545% 75%;
}
.elawa-card .front[data-color="4"][data-number="7"] {
  background-position: 54.5454545455% 75%;
}
.elawa-card .front[data-color="4"][data-number="8"] {
  background-position: 63.6363636364% 75%;
}
.elawa-card .front[data-color="4"][data-number="9"] {
  background-position: 72.7272727273% 75%;
}
.elawa-card .front[data-color="4"][data-number="10"] {
  background-position: 81.8181818182% 75%;
}
.elawa-card .front[data-color="4"][data-number="11"] {
  background-position: 90.9090909091% 75%;
}
.elawa-card .front[data-color="4"][data-number="12"] {
  background-position: 100% 75%;
}
.elawa-card .front[data-color="5"][data-number="1"] {
  background-position: 0% 100%;
}
.elawa-card .front[data-color="5"][data-number="2"] {
  background-position: 9.0909090909% 100%;
}
.elawa-card .front[data-color="5"][data-number="3"] {
  background-position: 18.1818181818% 100%;
}
.elawa-card .front[data-color="5"][data-number="4"] {
  background-position: 27.2727272727% 100%;
}
.elawa-card .front[data-color="5"][data-number="5"] {
  background-position: 36.3636363636% 100%;
}
.elawa-card .front[data-color="5"][data-number="6"] {
  background-position: 45.4545454545% 100%;
}
.elawa-card .front[data-color="5"][data-number="7"] {
  background-position: 54.5454545455% 100%;
}
.elawa-card .front[data-color="5"][data-number="8"] {
  background-position: 63.6363636364% 100%;
}
.elawa-card .front[data-color="5"][data-number="9"] {
  background-position: 72.7272727273% 100%;
}
.elawa-card .front[data-color="5"][data-number="10"] {
  background-position: 81.8181818182% 100%;
}
.elawa-card .front[data-color="5"][data-number="11"] {
  background-position: 90.9090909091% 100%;
}
.elawa-card .front[data-color="5"][data-number="12"] {
  background-position: 100% 100%;
}
.elawa-card.chief {
  background-size: auto 100%;
  background-image: url("img/chiefs.jpg");
}
.elawa-card.chief[data-number="1"][data-level="1"] {
  background-position-x: 0%;
}
.elawa-card.chief[data-number="1"][data-level="2"] {
  background-position-x: 57.1428571429%;
}
.elawa-card.chief[data-number="2"][data-level="1"] {
  background-position-x: 14.2857142857%;
}
.elawa-card.chief[data-number="2"][data-level="2"] {
  background-position-x: 71.4285714286%;
}
.elawa-card.chief[data-number="3"][data-level="1"] {
  background-position-x: 28.5714285714%;
}
.elawa-card.chief[data-number="3"][data-level="2"] {
  background-position-x: 85.7142857143%;
}
.elawa-card.chief[data-number="4"][data-level="1"] {
  background-position-x: 42.8571428571%;
}
.elawa-card.chief[data-number="4"][data-level="2"] {
  background-position-x: 100%;
}
.elawa-card .final-score {
  position: absolute;
  top: -8px;
  right: -8px;
  box-shadow: 0 0 5px 3px white;
  border-radius: 50%;
  background-color: #571f13;
  animation: card-final-score-animation 1s 1 forwards ease-in-out;
  transform-origin: center center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes card-final-score-animation {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.card.token {
  display: inline-block;
  position: relative;
  width: 68px;
  height: 68px;
  box-shadow: none;
}
.card.token::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);
}
.card.token.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card.token .card-sides .card-side {
  box-shadow: none;
  border-radius: 10px;
  background-size: auto 100%;
  background-image: url("img/tokens.png");
}
.card.token .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.card.token.selected:not(.disabled) {
  box-shadow: 0 0 8px 8px orange;
  border-radius: 50%;
}
.card.token .front[data-type="1"] {
  background-position-x: 20%;
}
.card.token .front[data-type="2"] {
  background-position-x: 40%;
}
.card.token .front[data-type="3"] {
  background-position-x: 60%;
}
.card.token .front[data-type="4"] {
  background-position-x: 80%;
}
.card.token .front[data-type="5"] {
  background-position-x: 100%;
}

.token-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  background-image: url("img/tokens.png");
  vertical-align: middle;
}
.token-icon[data-type="1"] {
  background-position-x: 20%;
}
.token-icon[data-type="2"] {
  background-position-x: 40%;
}
.token-icon[data-type="3"] {
  background-position-x: 60%;
}
.token-icon[data-type="4"] {
  background-position-x: 80%;
}
.token-icon[data-type="5"] {
  background-position-x: 100%;
}

.chief {
  display: inline-block;
  position: relative;
  width: 202px;
  height: 282px;
  margin: 5px;
  border-radius: 10px;
}
.chief.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.chief .card-sides .card-side {
  border-radius: 10px;
}
.chief .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.chief .card-sides .card-side.front {
  background-size: auto 100%;
  background-image: url("img/chiefs.jpg");
}
.chief .card-sides .card-side.front[data-number="1"][data-level="1"] {
  background-position-x: 0%;
}
.chief .card-sides .card-side.front[data-number="1"][data-level="2"] {
  background-position-x: 57.1428571429%;
}
.chief .card-sides .card-side.front[data-number="2"][data-level="1"] {
  background-position-x: 14.2857142857%;
}
.chief .card-sides .card-side.front[data-number="2"][data-level="2"] {
  background-position-x: 71.4285714286%;
}
.chief .card-sides .card-side.front[data-number="3"][data-level="1"] {
  background-position-x: 28.5714285714%;
}
.chief .card-sides .card-side.front[data-number="3"][data-level="2"] {
  background-position-x: 85.7142857143%;
}
.chief .card-sides .card-side.front[data-number="4"][data-level="1"] {
  background-position-x: 42.8571428571%;
}
.chief .card-sides .card-side.front[data-number="4"][data-level="2"] {
  background-position-x: 100%;
}

.center-spot {
  top: 450px;
  left: 364px;
  position: absolute;
  width: 202px;
  transform-origin: top center;
  transform: rotate(var(--angle)) translateY(100px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  /*border-radius: 10px;
  transition: box-shadow 0.5s, background-color 0.5s, transform 1s ease-in, opacity 1s ease-in;

  &.active {
    background-color: #FFFFFFBB;
    animation: 2s ease-in-out infinite alternate glow;
  }

  @keyframes glow {
    from { box-shadow: 0 0 10px 10px #FFFFFFBB; }
    to   { box-shadow: 0 0 20px 20px #FFFFFFBB; }
  }*/
}

.center-spot-token {
  --shadow-color: black;
}
.center-spot-token::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background: var(--shadow-color);
  box-shadow: 0 0 2px 2px var(--shadow-color);
}

.center-spot-counter {
  position: absolute;
  width: 30px;
  height: 24px;
  background: white;
  text-align: center;
  line-height: 24px;
  box-shadow: 0 0 3px 1px black;
  left: -27px;
  top: calc(50% - 12px);
  transform-origin: center center;
  transform: rotate(calc(var(--angle) * -1));
  color: var(--shadow-color);
}

html #table-center {
  margin-top: 10px;
}
html .center-spot-card, html .center-spot-token {
  transform: rotate(calc(var(--angle) * -1));
}
html .center-spot-card .center-spot-counter, html .center-spot-token .center-spot-counter {
  transform: unset;
}
html .center-spot[id=center-spot-1] .center-spot-card {
  transform: rotate(calc(var(--angle) * -1)) translate(22px, -35px);
}
html .center-spot[id=center-spot-2] .center-spot-card {
  transform: rotate(calc(var(--angle) * -1)) translate(-22px, -35px);
}
html .center-spot[id=center-spot-4] .center-spot-card {
  transform: rotate(calc(var(--angle) * -1)) translate(-22px, 35px);
}
html .center-spot[id=center-spot-5] .center-spot-card {
  transform: rotate(calc(var(--angle) * -1)) translate(22px, 35px);
}

#table-center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#table-center {
  position: relative;
  width: 930px;
  min-width: 930px;
  height: 904px;
}
#table-center #fire {
  width: 128px;
  height: 128px;
  background-image: url("img/fire.png");
  position: absolute;
  top: 388px;
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters > div {
  flex: 1;
}
.counters .icon {
  margin-right: 5px;
}

.player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/cards.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

#first-player {
  background: #571f13;
  color: white;
  height: 20px;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: -2px;
  position: relative;
  user-select: none;
  padding: 0 10px;
}

.player-table {
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--player-color);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
}
.player-table .name-wrapper {
  color: var(--player-color);
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-family: "komika parch";
}
.player-table .block-with-text {
  display: flex;
}
.player-table .block-with-text .block-label {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
  text-overflow: ellipsis;
}
.player-table .block-with-text > div:not(.block-label) {
  flex: 1;
  min-height: 282px;
}
.player-table .hand-wrapper {
  margin: 5px;
  background: rgba(255, 255, 255, 0.5333333333);
  border-radius: 10px;
}
.player-table .chief-and-tokens {
  display: grid;
  grid-template-columns: 156px 202px;
  order: -1;
}
.player-table .chief-and-tokens .tokens-free {
  align-content: flex-start;
}
.player-table .chief-and-tokens .chief-card {
  position: relative;
}
.player-table .chief-and-tokens .chief-card .tokens-chief {
  position: absolute;
  left: -38px;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.player-table .chief-and-tokens .chief-card .tokens-chief .slot {
  width: 68px;
  height: 68px;
}
.player-table .storage-stock {
  align-items: center;
  align-content: center;
}
.player-table.can-store .visible-cards .storage-actions {
  display: flex;
}

.storage-actions {
  position: absolute;
  top: -20px;
  display: none;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2px;
  left: 30px;
  right: 0;
}
.storage-actions[data-used=true] .storage-action {
  display: none;
}
.storage-actions[data-used=false] .prestorage-stock {
  display: none;
}
.storage-actions .storage-action {
  width: 65px;
}
.storage-actions .storage-action button {
  font-size: 9pt;
  width: 100%;
  white-space: break-spaces;
  word-break: break-word;
  padding: 6px;
  margin: 0;
}
.storage-actions .prestorage-stock {
  width: 68px;
  height: 68px;
}
.storage-actions .storage-action, .storage-actions .prestorage-stock {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.storage-actions .storage-action button, .storage-actions .prestorage-stock button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*&.hidden {
    display: none;
  }*/
}
.storage-actions .storage-action button.cancel, .storage-actions .prestorage-stock button.cancel {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  box-shadow: 0 0 3px 1px black;
  right: 0;
  top: -10px;
  cursor: pointer;
}
.storage-actions .storage-action .token, .storage-actions .prestorage-stock .token {
  opacity: 0.7;
}

#elawa-help-button {
  position: fixed;
  bottom: 12px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #571f13;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

#color-help-button {
  position: fixed;
  bottom: 12px;
  left: 65px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 949;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.5s, height 0.5s, border-radius 0.5s, background-image 0.5s;
}
#color-help-button .color-icon {
  opacity: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("img/cards.jpg");
  background-position-x: -80px;
  border-radius: 5px;
}
#color-help-button .color-icon[data-row="0"] {
  background-position-y: -9px;
}
#color-help-button .color-icon[data-row="1"] {
  background-position-y: -291px;
}
#color-help-button .color-icon[data-row="2"] {
  background-position-y: -573px;
}
#color-help-button .color-icon[data-row="3"] {
  background-position-y: -855px;
}
#color-help-button .color-icon[data-row="4"] {
  background-position-y: -1137px;
}
#color-help-button .label {
  font-size: 10pt;
  opacity: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 42px;
  word-break: break-word;
  color: black;
}
#color-help-button[data-folded=true] {
  background-image: url("img/logo-coloradd.svg");
}
#color-help-button[data-folded=false] {
  width: 120px;
  height: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40px 80px;
  align-items: center;
  justify-items: center;
  background: #ebdbcb;
}
#color-help-button[data-folded=false] .label, #color-help-button[data-folded=false] .color-icon {
  opacity: 1;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #elawa-help-button, #color-help-button {
    bottom: 5px;
  }
}
#popin_elawaHelpDialog_contents {
  max-width: 100vw;
  overflow-x: auto;
}

#popin_elawaHelpDialog {
  background: #ebdbcb;
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  width: 520px;
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1, #help-popin h2 {
  padding: 5px;
  border-radius: 10px;
  font-weight: normal;
  color: white;
  font-family: "komika parch";
  text-align: center;
}
#help-popin h1 {
  background: #571f13;
  font-size: 22px;
  margin: 10px 0;
}
#help-popin h2 {
  background: #C1262F;
  font-size: 18px;
  margin: 8px 0;
}
#help-popin .row {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 64px auto;
  gap: 10px;
}
#help-popin .row .help-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("img/cards.jpg");
  border-radius: 5px;
}
#help-popin .row .help-icon.card {
  background-position: -1010px -232px;
}
#help-popin .row .help-icon.token {
  background-position: -1616px -232px;
}
#help-popin .row .help-icon.score {
  width: 40px;
  height: 40px;
}
#help-popin .row .help-icon.by-color {
  background-position: -8px -8px;
}
#help-popin .row .help-icon.different {
  background-position: -1220px -572px;
}
#help-popin .row .help-icon.by-resource {
  background-position: -614px -854px;
}
#help-popin .row .help-icon.by-type {
  background-position: -1826px -290px;
}
#help-popin .row.help-chief {
  grid-template-columns: 108px auto;
}
#help-popin .row.help-chief .help-icon {
  width: 100px;
  background-image: url("img/chiefs.jpg");
  background-position-y: -231px;
}
#help-popin .row.help-chief .help-icon[data-power="1"] {
  background-position-x: -910px;
}
#help-popin .row.help-chief .help-icon[data-power="2"] {
  background-position-x: -1112px;
}
#help-popin .row.help-chief .help-icon[data-power="3"] {
  background-position-x: -1314px;
}
#help-popin .row.help-chief .help-icon[data-power="4"] {
  background-position-x: -1516px;
}
#help-popin .row .help-label {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
@font-face {
  font-family: "komika parch";
  src: url("img/komikap-webfont.woff2") format("woff2"), url("img/komikap-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}

#round-counter-row {
  display: flex;
  justify-content: center;
}
#round-counter-row #round-counter-block {
  background: rgba(255, 255, 255, 0.6);
  font-size: 120%;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 10px;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  color: white;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
  margin-right: 10px;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
#tables-and-center.double-column {
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
#tables-and-center.double-column > div {
  flex: 1;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
