.elawa-card {
    display: inline-block;
    position: relative;
    width: 202px;
    height: 282px;
    margin: 5px;
    border-radius: 10px;

    &.disabled {
      cursor: not-allowed;
      filter: contrast(0.6);
    }

    .card-sides {
        .card-side {
            border-radius: 10px;

            &>* {
                pointer-events: none;
                user-select: none;
            }

            /*&.back {  
                background-size: auto 100%;
                background-image: url('img/card-back.jpg');
            }*/

            &.front {
                background-size: auto 500%;
                background-image: url('img/cards.jpg');
            }
        }
    }    

    &.selectable:not(.disabled):hover {
        cursor: pointer;
        &:not(.selected) {
            box-shadow: 0 0 5px 5px orange;
        }

        .card-side {
            box-shadow: unset;
        }
    }    

    &.selected:not(.disabled) {
        box-shadow: 0 0 8px 8px orange;

        .card-side {
            box-shadow: unset;
        }
    }
    
    &.selected-discard {
        outline: 5px solid orange;

        .card-side {
            box-shadow: unset;
        }
    }

    @for $color from 1 through 5 {
        @for $number from 1 through 12 {
            .front[data-color="#{$color}"][data-number="#{$number}"] {
                background-position: #{($number - 1) * 100% / 11} #{($color - 1) * 100% / 4};
            }
        }
    }

    &.chief {        
        background-size: auto 100%;              
        background-image: url('img/chiefs.jpg');

        @for $number from 1 through 4 {
            &[data-number="#{$number}"][data-level="1"] {
                background-position-x: #{($number - 1) * 100% / 7};
            }
            &[data-number="#{$number}"][data-level="2"] {
                background-position-x: #{($number + 3) * 100% / 7};
            }
        }
    }

    .final-score {
        position: absolute;
        top: -8px;
        right: -8px;
        box-shadow: 0 0 5px 3px white;
        border-radius: 50%;
        background-color: #571f13;
        animation: card-final-score-animation 1s 1 forwards ease-in-out;
        transform-origin: center center;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes card-final-score-animation {
    0% {
        transform: scale(0);
    }
    66% {
        transform: scale(1.5);
    }
    100% { 
        transform: scale(1);
    }
}