.center-spot {
  top: 450px;
  left: 364px;
  position: absolute;
  width: 202px;
  transform-origin: top center;
  transform: rotate(var(--angle)) translateY(100px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  /*border-radius: 10px;
  transition: box-shadow 0.5s, background-color 0.5s, transform 1s ease-in, opacity 1s ease-in;

  &.active {
    background-color: #FFFFFFBB;
    animation: 2s ease-in-out infinite alternate glow;
  }

  @keyframes glow {
    from { box-shadow: 0 0 10px 10px #FFFFFFBB; }
    to   { box-shadow: 0 0 20px 20px #FFFFFFBB; }
  }*/
}
