.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;

  >div {
    flex: 1;
  }

  .icon {
    margin-right: 5px;
  }
}

.player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('img/cards.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

#first-player {
  background: #571f13;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -2px;
  position: relative;
  cursor: help;
  user-select: none;
}