#table-center {
    border: 2px solid #ffd752;
    padding: 5px; 
    border-radius: 15px;
    background: #ffd75266;
    margin: 5px;

    #fire {
        width: 128px;
        height: 128px;
        background-image: url('img/fire.png');
    }
}